.storybook-header {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* margin: 20px; */
    display: flex;
    justify-content: space-around;
    grid-template-columns: 1fr;
    flex-direction: row;
    align-content: center;
    justify-items: start;
    width: 100%;
    flex-wrap: nowrap;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    text-align: start;
    background: rgba(66, 200, 242, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}

.storybook-header svg {
    display: inline-block;
    vertical-align: top;
}

header h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    margin: 6px 0 6px 10px;
    display: inline-block;
    vertical-align: top;
}

.storybook-header button+button {
    margin-left: 10px;
}

.storybook-header .welcome {
    color: #333;
    font-size: 14px;
    margin-right: 10px;
}

header {
    width: 100%;


    background: rgba(66, 200, 242, 0.7);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0;

}